<label [for]="id" class="form-label float-end">{{label}}</label>
<div class="input-group">
    <input type="text" placeholder="Datepicker" [id]="id" class="form-control" bsDatepicker
        (bsValueChange)="onDateChange($event)" [bsValue]="input" [(ngModel)]="input"
        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" lang="ar"  readonly>
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-calendar-alt" aria-hidden="true"></i></span>
    </div>
</div>
