.warning-message{
    padding: 20px 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    p{
        text-align: justify;
        text-justify: inter-word;
        font-size: 16px;
    }
}