$bg-color: #f1f3f3;
$header-bg-color:#1b1b1b;
$title-color:#f8f9fa;
$footer-color:#f8f9fa;
$title-light: #74e035;


.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    font-family: cairo;
}

.sidebar{
    min-width: 292px;
    max-width: 292px;

    background: $layout-bg-color;
    border-left: 2px solid lighten(black,60%);
    color:$standard-fontcolor;
    transition: all 0.5s cubic-bezier(0.945, 0.02, 0.27, 0.665);
    transform-origin: bottom right;

    .sidebar-header{
        height:45px !important;
        line-height: 45px !important;
        width:100%;
        background: $layout-bg-color;
        padding-top: 10px;
        padding-right: 20px;
        
        color: $standard-fontcolor;
        i{
            margin-left: 19px !important;
        }
    }
    ul{
        
        li{
            color:$dark;
            line-height: 45px;
            border-top: 1px solid black;
            border-bottom: 1px solid rgba(255,255,255,.1);
            font-size: 16px;
            font-weight: 500;
            transition: all 0.2s ease;
            a{
                position: relative;
                width:100%;
                text-decoration: none;
                padding-left: 20px;
                display: block;
                transition: all 0.2s ease;
                cursor: pointer;
                font-size: 18px;

                &:hover{
                    padding-right: 20px;
                    color:$active-standard-fontcolor !important;
                }
                i{
                    color:$lighten-standard-fontcolor !important;
                }
            }
            &:last-child{
                border-bottom: 1px solid black;
            }
        }

    }
}
.right-sidebar{
    &.active {
        margin-right: -292px;
        transform: rotateY(270deg);
    }
}

.contents{
    width: 100%;
    min-height: 70vh;
    transition: all 0.1s;
    //background-color: $footer-color;
    padding-left: 0px;
    padding-right: 0px;
    //position: relative !important;

}
.active{
    background:lighten($bg-color,5%);
    color:$active-standard-fontcolor !important;
}
.page-header{
    height:46px !important;
    line-height: 46px !important;
    width:100%;
    background: $layout-bg-color;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-right: 45px;
    color: $dark;
    button{
        color:$standard-fontcolor;
        outline: 0;
        padding: 0px;
        i{
            position: relative;
            top:3px;
        }
    }
}
.section-header{
    height:45px;
    line-height: 45px;
    width:100%;
    background: $layout-bg-color;
    padding: 4px 10px;
    border-bottom: 1px solid black;
    button,.btn{
        padding: 0px;
        i{
            position: relative;
            top:3px;
        }
        :hover{
            color:$cyan;
        }
        :focus{
            outline: none !important;
        }
    }

}
.m-45{
    margin:43px 0px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow:none;
}

table{
    tr{
        line-height: 40px !important;
        max-height: 40px !important;
        padding: 2px 2px !important;
        td{
            padding: 2px 5px !important;
            i{
                cursor: pointer;
            }
        }
        th{
            padding: 2px 20px !important;
        }
        td.email,td.IP{
            text-align: left !important;
        }
        td.password{
            width: 110px !important;
        }
        td.notes{
            min-width: 150px !important;
        }
    }
}

.mat-menu-content {
    padding: 0px 0px;
    min-width: 170px !important;
    margin: 0px !important;
    .mat-menu-item{
        border-bottom: 1px solid gainsboro;
        font-family: cairo !important;
        font-size: 16px;
        padding: 0px !important;
        max-height: 40px !important;
        margin: 0px !important;
        span{
            position: absolute;
            right: 40px !important;
        }
        i.fa-trash, i.fa-list,i.fa-file-excel,.fa-clock{
            margin-right: 10px !important;
        }
        i.fa-edit{
            margin-right: 5px !important;
        }
    }
}

.modal-header{
    font-family: cairo !important;
    button{
        span{
            font-size: 28px !important;

        }
        &:hover{
            color: red !important;
        }
    }
}
.modal-body{
    font-family: cairo !important;
    button{
        min-width: 150px !important;
    }
}

.warning-message{
    padding: 20px 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    p{
        text-align: justify;
        text-justify: inter-word;
        font-size: 16px;
    }
}

@media print{
    .sidebar{
        display: none;
    }
    .page-header{
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-right: 20px !important;
    }
}
